<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Задания</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        * {
            font-family: "Gill Sans";
        }
        h5 {
           font-weight: bold;
        }
        body {
          min-height: 100vh;
          font-family: Arial, sans-serif;
          background: linear-gradient(135deg, #4c83ff, #8fd3f4);
        }
    </style>
</head>
<body>

<div class="container mt-5">
  <h2 class="text-center mb-4" style="font-weight: bold;">Карусель заданий</h2>
  <div id="taskCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <!-- Слайды с заданиями -->
      {% for i in range(1, 10) %}
      <div class="carousel-item {% if i == 1 %}active{% endif %}">
        <div class="card d-flex flex-column" style="min-height: 500px">
            <div class="card-header">
                <h5 class="text-center">Задание №{{ i }}</h5>
            </div>
            <div class="card-body" id="task_id_{{i}}"></div>
          <div class="card-footer text-body-secondary text-center">
              <input id="answer_id_{{i}}" type="text" class="form-control mb-3 mt-auto" placeholder="Введите ваш ответ" value='//*[@id="task_id_{{i}}"]'>
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"><button id="check_answer_{{i}}" onclick="findElementByXPath('{{i}}')" class="btn btn-primary ">Отправить ответ</button></div>
                  <div class="col-md-3 ml-md-auto"><button onclick="reload_task('{{i}}')" type="button" class="btn btn-outline-danger">Обновить задание</button></div>
              </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
    <!-- Навигация по слайдам -->
<a class="carousel-control-prev" href="#taskCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущее</span>
    </a>
    <a class="carousel-control-next" href="#taskCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующее</span>
    </a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>
    var a = [];
    window.addEventListener('load', function() {
        for (i = 1; i <=9; i++) {
            (function(i) {
                get_task(i);
            })(i);
        }
    });

    function get_task(task_id) {
        axios(`http://{{ ip_address }}:5001/get_task?task_id=${task_id}`)
                    .then(response => {
                        window.document.getElementById(`task_id_${task_id}`).innerHTML = response.data['elements']
                        a[task_id] = response.data['a']
                    })
                    .catch(error => {
                        console.log(`The Promise failed and the error is ${error}`)
                    })
                    .finally(() => {
                        console.log("I run whether the promise succeeds or fails")
                    })
    }

    function findElementByXPath(answer_id) {
            // Получаем XPath из поля ввода
            let xpath = document.getElementById(`answer_id_${answer_id}`).value;

            if (answer_id === '1' && xpath === '//*[@id="task_id_1"]/div/div[2]/p[2]/flag') {
                clearInput(answer_id)
                return
            }
            if (answer_id === '2' && xpath === '//*[@id="task_id_2"]/parent/pet[2]') {
                clearInput(answer_id)
                return
            }
            if (answer_id === '3' && xpath === '//*[@id="task_id_3"]/parent/pet[2]/data/food') {
                clearInput(answer_id)
                return
            }
            if (answer_id === '4' && xpath === '//*[@id="task_id_4"]/parent/pet[3]') {
                clearInput(answer_id)
                return
            }
            if (answer_id === '5' && xpath === '//*[@id="task_id_5"]/section[2]/div[4]') {
                clearInput(answer_id)
                return
            }

            if (a[answer_id]["tag"]){
                // Выполняем поиск элемента по XPath
                let elements_count = document.evaluate(xpath, document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null).snapshotLength;
                if (elements_count === 1) {
                    let element = document.evaluate(xpath, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
                    if (element) {
                        {#дизэйблим если ответ верен#}
                        if (element.tagName === a[answer_id]["tag"]){
                             setTaskComplete(answer_id);
                        }
                    } else {
                    console.log("Элемент не найден");
                    }
                }
            }
            if (a[answer_id]["name"]){
                let elements_count = document.evaluate(xpath, document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null).snapshotLength;
                if (elements_count === 1) {
                    let element = document.evaluate(xpath, document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
                    if (element) {
                        if (element.getAttribute("name") === a[answer_id]["name"]) {
                            setTaskComplete(answer_id);
                        }
                    } else {
                        console.log("Элемент не найден");
                    }
                }
            }
            if (a[answer_id]["elements_names"]){
                let elements_count = document.evaluate(xpath, document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null).snapshotLength;
                if (elements_count === a[answer_id]["elements_names"].length) {
                    var table_names = [];
                    let elementsSnapshot = document.evaluate(xpath, document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
                    for (let i = 0; i < elementsSnapshot.snapshotLength; i++) {
                        table_names[i] = elementsSnapshot.snapshotItem(i).getAttribute("name");
                    }
                    if (a[answer_id]["elements_names"].toString() === table_names.toString()) {
                        setTaskComplete(answer_id);
                    } else {
                        console.log("Элемент не найден");
                    }
                }
            }
            if (a[answer_id]["table_values"]){
                let elements_count = document.evaluate(xpath, document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null).snapshotLength;
                if (elements_count === a[answer_id]["table_values"].length) {
                    var table_values = [];
                    let elementsSnapshot = document.evaluate(xpath, document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
                    for (let i = 0; i < elementsSnapshot.snapshotLength; i++) {
                        table_values[i] = elementsSnapshot.snapshotItem(i).textContent;
                    }
                    console.log(a[answer_id]["table_values"].toString())
                    console.log(table_values.toString())
                    if (a[answer_id]["table_values"].toString() === table_values.toString()) {
                        setTaskComplete(answer_id);
                    } else {
                        console.log("Элемент не найден");
                    }
                }
            }
        }

    function setTaskComplete(answer_id) {
        document.getElementById(`check_answer_${answer_id}`).disabled = true;
        document.getElementById(`answer_id_${answer_id}`).disabled = true;
        document.getElementById(`answer_id_${answer_id}`).setAttribute("style", "color: green; border: 1px solid green;");
    }

    function setTaskUnComplete(answer_id) {
        document.getElementById(`check_answer_${answer_id}`).disabled = false;
        document.getElementById(`answer_id_${answer_id}`).disabled = false;
        document.getElementById(`answer_id_${answer_id}`).setAttribute("style", "");
    }

    function clearInput(answer_id) {
        document.getElementById(`answer_id_${answer_id}`).value = `//*[@id="task_id_${answer_id}"]`;
    }

    function reload_task(answer_id) {
        document.getElementById(`task_id_${answer_id}`).innerHTML = "";
        get_task(answer_id);
        setTaskUnComplete(answer_id);
    }
</script>

</body>
</html>
