<parent name="data">
    <child id="1" name="alpha">Тут снова ничего нет... </br> Но тут все та же структура из прошлого задания</br>
        В этот раз наша задачка будет в другом:</br> Мы хотим получить элемент содержащий название еды которая актуальна для собаки</br> Правильным ответом будет элемент, которой содержит поле name с наименованием еды.
    </child>
    <child id="2" name="beta">
        <grandchild id="2.1" name="beta-alpha"></grandchild>
        <grandchild id="2.2" name="beta-beta"></grandchild>
    </child>
    <pet name="Molly" type="cat">
        <data>
            <birthday month="november" day="5"></birthday>
            <food name="Fish"></food>
        </data>
    </pet>
    <pet name="Fido" type="dog">
        <description>
        </description>
        <data>
            <birthday month="feb" day="2"></birthday>
            <food name="Acana Dog Food"></food>
        </data>
    </pet>
    <pet name="Kitty" type="cat">
        <data>
            <birthday month="november" day="5"></birthday>
            <food name="Chicken"></food>
        </data>
    </pet>
    <pet name="Tigger" type="cat">
        <data>
            <birthday month="september" day="1"></birthday>
            <food name="Meat"></food>
        </data>
    </pet>

    <rogue name="is this real?">
        <data>

        </data>
    </rogue>
    <child id="3" name="gamma" mark="yes">
        <!-- A comment -->
        <description>
        </description>
        <grandchild id="3.1" name="gamma-alpha">
        </grandchild>
        <grandchild id="3.2" name="gamma-beta"></grandchild>
    </child>
</parent>