<section id="intro-{{ class_hash[0] }}">
    <p class="text-{{ class_hash[1] }}">Тело нашего html для задания не изменилось</p>
    <p class="text-{{ class_hash[2] }}">В прошлой задачке мы получали отличающий от остальных <b>div</b>,
        но в этот раз мы хотим найти все остальные идентичные <b>div</b> элементы.</p>
    <p><i>Вероятнее всего вам нужно лишь немного отредактировать свой ответ из прошлой задачки</i></p>
</section>

<section name="content-hash-{{ class_hash[3] }}">
    <div name="item-{{ class_hash[4] }}" data-type="feature" id="feature-{{ class_hash[12] }}">
        <h2>Тут находится идентичный заголовок</h2>
        <p name="description-{{ class_hash[5] }}">А тут находится идентичный текст описания</p>
    </div>
    <div name="item-{{ class_hash[6] }}" data-type="feature" id="feature-{{ class_hash[13] }}">
        <h2>Тут находится идентичный заголовок</h2>
        <p name="description-{{ class_hash[7] }}">А тут находится идентичный текст описания</p>
    </div>
    <div name="item-{{ class_hash[8] }}" data-type="feature" id="feature-{{ class_hash[14] }}">
        <h2>Тут находится идентичный заголовок</h2>
        <p name="description-{{ class_hash[9] }}">А тут находится идентичный текст описания</p>
    </div>
    <div name="item-special-{{ class_hash[10] }}" data-type="feature" id="feature-{{ class_hash[15] }}">
        <h2>Тут находится идентичный заголовок</h2>
        <p name="description-{{ class_hash[11] }}">А тут находится идентичный текст описания</p>
    </div>
</section>

<footer>
    <h6><b>*Если вам удалось написать правильный xpath, попробуйте обновить задание и применить его снова...</b></h6>
</footer>