<h6>
    Эта задачка с таблицей будет иметь два решения, одно из них проще, другая сложнее и универсальнее. <br>
    Наша задача получить все элементы <b>td</b> из таблицы для имени <b>Molly</b> (в овтете должны быть 6 элементов)<br>
    Более простой вариант не позволит использовать этот xpath в случае, если порядок заголовков (имен) таблицы будет изменяться<br>
    Более сложный (уровень сложности крайне высокий) вариант позволит использовать xpath для поиска информации по заданному заголовку вне зависимости от порядка заголовков
</h6>

<table class="table-bordered text-center" style="margin: auto;width: 100%;">
  <tr>
    <td>Name</td>
    <td>Molly</td>
    <td>Fido</td>
    <td>Kitty</td>
    <td>Tigger</td>
  </tr>
  <tr>
    <td>Food</td>
    <td>Fish</td>
    <td>Acana Dog Food</td>
    <td>Chicken</td>
    <td>Meat</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>6</td>
    <td>3</td>
    <td>8</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Owner</td>
    <td>Nicola</td>
    <td>Me</td>
    <td>Me</td>
    <td>Miroslav</td>
  </tr>
  <tr>
    <td>Color</td>
    <td>Grey</td>
    <td>Black & White</td>
    <td>Brown</td>
    <td>Orange</td>
  </tr>
  <tr>
    <td>Relatives</td>
    <td>2</td>
    <td>4</td>
    <td>3</td>
    <td>4</td>
  </tr>
</table>