<parent name="data">
    <child id="1" name="alpha">
        Настало время решить последнюю и наиболее сложную задачку на основе этой xml структуры</br>
        (далее будет задачка со звездочкой по этой струкре, но это не в счет)</br>
        Что ж, теперь мы хотим скомбинировать сразу несколько условий:</br>
        Мы хотим найти элемент содержащий поле name кошки, у которой день рождения 5-ого Ноября, а ее любимая еда курица.
    </child>
    <child id="2" name="beta">
        <grandchild id="2.1" name="beta-alpha"></grandchild>
        <grandchild id="2.2" name="beta-beta"></grandchild>
    </child>
    <pet name="Molly" type="cat">
        <data>
            <birthday month="november" day="5"></birthday>
            <food name="Fish"></food>
        </data>
    </pet>
    <pet name="Fido" type="dog">
        <description>
        </description>
        <data>
            <birthday month="feb" day="2"></birthday>
            <food name="Acana Dog Food"></food>
        </data>
    </pet>
    <pet name="Kitty" type="cat">
        <data>
            <birthday month="november" day="5"></birthday>
            <food name="Chicken"></food>
        </data>
    </pet>
    <pet name="Tigger" type="cat">
        <data>
            <birthday month="september" day="5"></birthday>
            <food name="Chicken"></food>
        </data>
    </pet>

    <rogue name="is this real?">
        <data>

        </data>
    </rogue>
    <child id="3" name="gamma" mark="yes">
        <!-- A comment -->
        <description>
        </description>
        <grandchild id="3.1" name="gamma-alpha">
        </grandchild>
        <grandchild id="3.2" name="gamma-beta"></grandchild>
    </child>
</parent>