<div>
    <div>
        <p>Чао! Это то самое первое задание!</p>
    </div>
    <div>
        <p>Все задания будут выглядеть идентично, но будут иметь разную сложность (чем дальше, тем сложнее (но это не точно))
            </br>Эти задания помогут нам заиспользовать разные "фишки" и инструменты, которые мы разобрали в презинтации и лучше запомнить их.
        </p>



        <p>
            В "карусели заданий" у вас есть поле ввода ответа, кнопка отправки ответа и стрелки для переключения между заданиями
            Поле ввода всегда содержит базовый шаблон,<flag></flag> с которого вам следует начинать написание xpath (в формате //*[@id='task_id_НомерЗадания'])
            </br>
            (вы можете этого не придерживаться, но вы определенно должны быть уверены в том, что оно вам не надо)
        </p>
        <p>сейчас мы попробуем начать с чего-то простого и дальше переключимся на что-то более сложное</p>
        <p><b>В этом задании нам просто нужно найти тэг с названием "flag", он спрятан где-то тут...</b></p>
        <p>В случае, если вы правильно укажите xpath на элемент, то кнопка и поле ввода заблокируется. (и даже подкрасятся в зеленый цвет)</p>

    </div>
    <div>
        <p>По всем вопросам сразу обращайтесь ко мне. Будь то сложности с заданием или же проблемы с "каруселькой заданий" я постараюсь вам помочь</p>
        <p><i>* прошу не использовать автогенерацию xpath в devtools (в случае совпадения вашего xpath с xpath из devtools поле ввода очиститься)</i></p>
    </div>
</div>