<section id="intro-{{ class_hash[0] }}">
    <p class="text-{{ class_hash[1] }}">Мы переходим к заданиям, где мы постараемся воспользоваться "функциями", которые доступны для нас в xpath!</p>
    <p class="text-{{ class_hash[2] }}">Этот раздел будет также отличаться наличием хэшей в атрибутах элементов. (это как раз побудит вас на использование функций) <br>
        Подобные хэши часто встречаются при автоматизации условных ReactWebApp-ов
    </p>
    <p>На этот раз мы хотим найти <b>div</b>, который содержит особое значение атрибута <b>name</b></p>
</section>

<section name="content-hash-{{ class_hash[3] }}">
    <div name="item-{{ class_hash[4] }}" data-type="feature" id="feature-{{ class_hash[12] }}">
        <h2>Тут находиться идентичный заголовок</h2>
        <p name="description-{{ class_hash[5] }}">А тут находиться идентичный текст описания</p>
    </div>
    <div name="item-{{ class_hash[6] }}" data-type="feature" id="feature-{{ class_hash[13] }}">
        <h2>Тут находиться идентичный заголовок</h2>
        <p name="description-{{ class_hash[7] }}">А тут находиться идентичный текст описания</p>
    </div>
    <div name="item-{{ class_hash[8] }}" data-type="feature" id="feature-{{ class_hash[14] }}">
        <h2>Тут находиться идентичный заголовок</h2>
        <p name="description-{{ class_hash[9] }}">А тут находиться идентичный текст описания</p>
    </div>
    <div name="item-special-{{ class_hash[10] }}" data-type="feature" id="feature-{{ class_hash[15] }}">
        <h2>Тут находиться идентичный заголовок</h2>
        <p name="description-{{ class_hash[11] }}">А тут находиться идентичный текст описания</p>
    </div>
</section>

<footer>
    <h6><b>*Если вам удалось написать правильный xpath, попробуйте обновить задание и применить его снова...</b></h6>
</footer>